.about {
  color: #0FEBE2;
}

h1.about, h3.about {
  text-align: center;
}

p.about {
  margin: 10px 10%;
  font-size: larger;
}

ul.about {
  text-align: left;
  list-style-type: binary;
  padding-left: 10%;
  line-height: 1.5;
  margin: 0 10%;
}