/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* ------------------- Utilities ------------------------------ */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* -------------------- Page General ------------------------- */

* {
vertical-align: baseline;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}

body {
/*  margin: 0;*/
/*  padding: 0;*/
  background: #333;
/*  font: 10px/13px 'Lucida Sans', sans-serif;*/
}

div {
  display: block;
/*  border: 1px dashed green;*/
}

#mainWrapper {
  background-color: #333;
}

.centeredContainer {
  width: 98%;
  margin: 0 auto;
  border: none;
  text-align: left;
}

a:link {
  text-decoration: none;
}

/* ------------------- Header/Title Bar ----------------- */

#headerBox #top_bar {
  overflow: hidden;
  width: 100%;
  z-index: 50;
  position: relative;
  background-color: #191C42;
}

#headerBox #top_left {
  float: left;
  width: 280px;
  height: 60px;
  padding: 30px 30px;
/*  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAAA0CAYAAABRlyd1AAAABHNCS…ma7K3R8fLFsh54f0gs/lh/Hy+wtCXHiVKs588/8w4JMP8PXLsIoSt9+nsAAAAASUVORK5CYII=);*/
  background-position: 0 28px;
  background-repeat: no-repeat;
}

#headerBox #top_left h1, #headerBox #top_left h4 {
/*  display: none;*/
  color: #60C0AC;
  text-align: center; 
}

#top_bar #search_box {
  z-index: 50;
  position: relative;
  width: 227px;
  height: 35px;
  float: right;
  margin-top: 45px;
  margin-right: 30px;
  padding-right: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  /*background-image: url(data:image/gif;base64,R0lGODlh4wAjAMQAABERESoqKmZmZiEhIcbGxrW1tRkZGTw8PHt7e…JUgCDCUmpaw+q8WkKs2Zayzqpl2GKtW38vArydu41sC7l08zazm6Wv37+AAwseTLiw4REhAAA7);*/
/*  background-repeat: no-repeat;*/
  vertical-align: top;
}

#search_box #gameSearch {
  margin: 12px 0 0 14px;
  padding: 0;
  width: 176px;
  vertical-align: middle;
  background: none;
  border: none;
  border-width: 0;
  font-size: 12px;
  font-weight: bold;
  color: #CCC;
}

/* ------------------- Header/Nav Bar ----------------- */

#headerBox #nav_bar {
  z-index: 55;
  position: relative;
  padding: 20px 15px;
  font-size: 12px;
/*  text-transform: uppercase;*/
  font-weight: normal;
  color: #FFF;
  background: darkviolet;
}

#nav_bar .navBtn {
  font-size: x-large;
  font-color: blue;
  margin-right: 30px;
  height: 25px;
  float: left;
  position: relative;
}

#nav_bar .navBtn a {
  color: white;
}

/* ------------------- Sites Grid Area----------------- */

.sites_wrap {
  overflow: hidden;
  margin: 10px;
}

.site_box {
  float: left;
  position: relative;
  width: 32%;
  padding-bottom: 32%;
  margin: 5px;
  background: black;
/*  border: 1px solid darkgray;*/
}

.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInner .titleBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
/*  margin-top: -50px;*/
  background: #000;
  background: rgba(10, 10, 10, 0.7);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.boxInner img {
  width: 100%;
}

.boxInner .guideLinks {
  position: absolute;
  bottom: 3px;
  top: 41px;
  left: 3px;
  right: 3px;
  /* margin-top: 0px; */
  background: #000;
/*  background: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(10, 19, 233, 0.2);
  color: #fff;
  padding: 10px;
  text-align: center;
  overflow: auto;
}

.boxInner p {
  color: white;
  font-size: 12px;
}

.guideLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.guideLinks li a {
  display: block;
  font-weight: bold;
  color: #C0CDF3;
  background-color: rgba(10, 19, 233, 0.5);
  width: 100%;
  text-align: center;
  padding: 2px;
  text-decoration: none;
/*  text-transform: uppercase;*/
}

.guideLinks li a:hover, 
.guideLinks li a:active {
  background-color: rgba(135, 100, 233, 0.8);
}
