/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* ------------------- Utilities ------------------------------ */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* -------------------- Page General ------------------------- */

* {
vertical-align: baseline;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}

body {
/*  margin: 0;*/
/*  padding: 0;*/
  background: #333;
/*  font: 10px/13px 'Lucida Sans', sans-serif;*/
}

div {
  display: block;
/*  border: 1px dashed green;*/
}

#mainWrapper {
  background-color: #333;
}

.centeredContainer {
  width: 98%;
  margin: 0 auto;
  border: none;
  text-align: left;
}

a:link {
  text-decoration: none;
}

/* ------------------- Header/Title Bar ----------------- */

#headerBox #top_bar {
  overflow: hidden;
  width: 100%;
  z-index: 50;
  position: relative;
  background-color: #191C42;
  padding: 6px 0px;
  background: -webkit-linear-gradient(#191C42, #040CCA, #191C42);
  background: -o-linear-gradient(#191C42, #040CCA, #191C42);
  background: -moz-linear-gradient(#191C42, #040CCA, #191C42);
  background: linear-gradient(#191C42, #040CCA, #191C42);
}

#headerBox #top_left {
  float: left;
  width: 280px;
  height: 60px;
  padding: 30px 30px;
  background-position: 0 28px;
  background-repeat: no-repeat;
}

#headerBox #top_left h1, #headerBox #top_left h4 {
/*  display: none;*/
  color: #0FEBE2;
  text-align: center; 
}

h1#gamezelp_title {
  top: -15px;
  font-size: 56px;
  position: relative;
  width: 285px;
  height: 40px;
  padding: 0px;  
  top: -100px;
  overflow: hidden;
}

h4#login_btn {
  margin-top: 15px;
}
h4#login_btn a {
  color: lawngreen;
  text-decoration: underline;
}

#title_image {
  width: 340px;
  height: 0px;
  padding-top: -240px;
  padding-bottom: 184px;
  display: block;
  background: url("GZ_TitleKH.png");
  background-size: cover;
  overflow: hidden;
  float: left;
  position: absolute;
  top: -75px;
  transition: all 0.3s ease-out;
}

#top_bar #search_box {
  z-index: 50;
  position: relative;
  right: 200px;
  width: 227px;
  height: 35px;
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  padding-right: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  vertical-align: top;
}

#search_box #gameSearch_gameQuery {
  margin: 5px;
  padding: 0px;
  width: 227px;
  height: 26px;
  vertical-align: middle;
  background: none;
  border: none;
  border-width: 0;
  font-size: 18px;
  font-weight: bold;
  color: #030DF3;
}

#logo_container {
  position: absolute;
  /* float: right; */
  right: 17px;
  top: 2px;  
}

.gz_sprite {
  width: 128px;
  height: 0;
  padding-top: 128px;
  overflow: hidden;
  background: url("GAMEZelp_logos.png");
}

.gz_blue_logo {
  background-size: 256px;
  background-position: 0px 0px;
}

.gz_red_logo {
  background-size: 256px;
  background-position: 128px 0px;
}

.gz_green_logo {
  background-size: 256px;
  background-position: 128px 128px;
}

.gz_purple_logo {
  background-size: 256px;
  background-position: 0px 128px;
}

/* ------------------- Header/Nav Bar ----------------- */

#headerBox #nav_bar {
  z-index: 55;
  position: relative;
  padding: 0px 30px;
  font-size: 12px;
/*  text-transform: uppercase;*/
  font-weight: normal;
  color: #FFF;
  background: darkviolet;
}

#nav_bar .navBtn {
  font-size: x-large;
  text-align: center;
  margin: 0px 0px;
  padding: 10px 0;
  width: 175px;
  height: 25px;
  float: left;
  position: relative;
  transition: all 0.3s ease-out;
}

.drop_down {
  position: relative;
  /* bottom: 0px; */
   top: 6px; 
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(195, 92, 243);
  background: #393939;
  opacity: 0.9;
  color: #fff;
  padding: 5px;
  margin-top: 0px;
  text-align: center;
  overflow: auto;
  z-index: 100;
  font-size: large;
  display: none;
}

.drop_down ul li {
  transition: all 0.1s ease-in;
}

.drop_down ul li:hover, 
.drop_down ul li:active {
  background: rgba(135, 100, 233, 0.8);
}

#nav_bar .navBtn:hover,
#nav_bar .navBtn:active {
  background: #393939;
}

#nav_bar #btn3, 
#nav_bar #btn4 {
  float: right;
}

#nav_bar .navBtn a {
  color: white;
}

#nav_bar #btn1 a:hover, #nav_bar #btn4 a:hover,
#nav_bar #btn1 a:active, #nav_bar #btn4 a:active {
  color: #6167D4;
}
/* ------------------- Sites Grid Area----------------- */

.sites_wrap {
  overflow: hidden;
  margin: 10px;
}

.site_box {
  float: left;
  position: relative;
  width: 32%;
  padding-bottom: 32%;
  margin: 5px;
  background: black;
  border: 1px solid rgb(73, 72, 72);
}

.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.boxInner .titleBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
/*  margin-top: -50px;*/
  background: #000;
  background: rgba(10, 10, 10, 0.7);
  color: #34BA48;
  padding: 0px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.boxInner img {
  width: 100%;
  position: relative;
  top: 38px;
}

.boxInner .guideLinks {
  position: absolute;
  bottom: 0px;
  top: 38px;
  left: 0px;
  right: 0px;
  background: #000;
  background-color: rgba(10, 19, 233, 0.2);
  color: #fff;
  padding: 10px;
  text-align: center;
  overflow: auto;
}

.boxInner p {
  color: white;
  font-size: 12px;
}

.guideLinks ul {
  list-style-type: none;
  margin: -10px;
  padding: 0;
}

.guidelinks ul li {
  padding: 2px;
}

.guideLinks li a {
  display: block;
  font-weight: bold;
  color: #CDECFD;
  background-color: rgba(10, 19, 233, 0.7);
  width: 100%;
  text-align: center;
  padding: 3px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: larger;
}

.guideLinks li a:hover, 
.guideLinks li a:active {
  background-color: rgba(135, 100, 233, 0.8);
}
