<div class="pages" id="site_index_page">
  
  <div class="top_bar">
    <div id="app_title">
      <h1>GAMEZelp</h1>
    </div>
    <div id="user_or_login">
      User Name -or- <a href="#">LogIn</a>
    </div>
    <div id="search_box">
      <input type="search" placeholder="Search for game...">
    </div>    
  </div>
  
  <hr>
  
  <nav id="nav_bar">
    <div id="nav_left clearfix">
      <a href="#" class="menu_button" id="m1">HOME</a> |
      <a href="#" class="menu_button" id="m2">MyGames</a>
    </div>
    <div id="nav_right clearfix">
      <a href="#" class="menu_button" id="m3">Platform</a> |
      <a href="#" class="menu_button" id="m4">About</a> 
    </div>
  </nav>
  
  <hr>
  
  <div id="sites_container">
    <div id="sites_grid">
      <div class="sites_row clearfix">
        <div class="site_box" id="sb1">
        </div>
        <div class="site_box" id="sb2">
        </div>
        <div class="site_box" id="sb3">
        </div>
      </div>
      <div class="sites_row clearfix">
        <div class="site_box" id="sb4">
        </div>
        <div class="site_box" id="sb5">
        </div>
        <div class="site_box" id="sb6">
        </div>
      </div>
      <div class="sites_row clearfix">        
        <div class="site_box" id="sb7">
        </div>
        <div class="site_box" id="sb8">
        </div>
      </div>
    </div>
  </div>

  <hr>
  
</div>